.navbarContainer{
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 999;
}
.navbarLogo{
    background-image: url('../../assets/senaLogo.webp');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 60px;
}
.navbarTitle{
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-1);
}
@media screen and (max-width: 1024px) {
    .navbarTitle{
        font-size: 1.4rem;
    }
}